<!-- Footer -->
<footer class="footer">
	<div class="container">
		<p>&copy; 2025 TOPTHAI TRAVEL COMPANY. All rights reserved.</p>
		<p>32 Lat Krabang 20, Lat Krabang, Bangkok 10520, Thailand</p>
	</div>
</footer>

