<!-- Header -->
<header class="header">
	<div class="container">
		<a href="/">
			<img
				src="/assets/images/square-logo.jpg"
				alt="TOPTHAI TRAVEL"
				class="logo-image"
			/>
		</a>

		<nav class="nav">
			<a href="/thailand">Thailand</a>
			<a href="/vietnam">Vietnam</a>
			<a href="#contact">Contact</a>
		</nav>
	</div>
</header>

